<p>Add Class:</p>

<hr>
<mat-card>
<form class="example-form" (submit)="onAddPost(postForm)" #postForm="ngForm" >
    <mat-form-field class="example-full-width">
      <mat-label>OWNER</mat-label>
      <input matInput disabled value="Admin">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Class name</mat-label>
        <!-- Enter Class Name with min length of 3-->
        <input matInput  name="title" placeholder="title" [(ngModel)]="enteredTitle" ngModel required  minlength="3" #title="ngModel">
        <!-- Error Handeling-->
        <mat-error *ngIf="title.invalid">Please enter a valid post title</mat-error>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Short Name</mat-label>
        <input matInput  name="content" placeholder="shortName" [(ngModel)]="enteredContent" ngModel required> 
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>About</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">In this Class....</textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Requirements</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
   
      <td><mat-form-field class="example-full-width">
        <mat-label>Class Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
     
      </mat-form-field></td>
    </tr></table>
    <!-- Sent Data to Dashboard-->
    <button mat-raised-button
    type="submit"
    color="accent">Save Post</button>
    
    <!-- Sent Data to Node.js-->
    <hr>
    <input type="submit" value="Submit">
  </form>
</mat-card>